# Data Cleaning and Transformation
## Notebook 1

Group project by:
    - Tinuke Durotolu
    - Sara Ruini
    - Susan Yousefi

<b> Data source: </b> https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008# 

<b> Reference: </b>
Beata Strack, Jonathan P. DeShazo, Chris Gennings, Juan L. Olmo, Sebastian Ventura, Krzysztof J. Cios, and John N. Clore, “Impact of HbA1c Measurement on Hospital Readmission Rates: Analysis of 70,000 Clinical Database Patient Records,” BioMed Research International, vol. 2014, Article ID 781670, 11 pages, 2014.

In [1]:
#libraries needed
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("diabetic_data.csv", encoding="Latin-1")

## Visualising the datasets

First of all, we are going to visualise the datatype of each column in the dataset and see if there is any missing values.

Our aim is to remove unnecessary values and columns and remove any information that we consider redundant.

## Removing unnecessary values

We will visualise the info of the dataset (presence of null-values) for each column, show the head and tail of the dataset and show the percentage of unique value_counts.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

There are a total of 101766 data entries in this dataset.

Before analysing this dataframe further, we will need to replace the NaN values with 'missing',

In [4]:
to_drop = ['weight','medical_specialty', 'admission_type_id', 'discharge_disposition_id','max_glu_serum', 'admission_source_id', 'encounter_id','patient_nbr', 'diag_1', 'diag_2', 'diag_3', 'payer_code', 'A1Cresult']
df.drop(to_drop, inplace=True, axis=1)
all_cols = list(df.columns)

In [5]:
for col in all_cols:
    df[col] = df[col].fillna('missing')
df.head(20)

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),1,41,0,1,0,0,0,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),3,59,0,18,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,2,0,1,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),2,44,1,16,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,51,0,8,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,Caucasian,Male,[50-60),3,31,6,16,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,Caucasian,Male,[60-70),4,70,1,21,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,Caucasian,Male,[70-80),5,73,0,12,0,0,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,Caucasian,Female,[80-90),13,68,2,28,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,Caucasian,Female,[90-100),12,33,3,18,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,AfricanAmerican,Female,[40-50),9,47,2,17,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,AfricanAmerican,Male,[60-70),7,62,0,11,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,Caucasian,Female,[40-50),7,60,0,15,0,1,0,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,Caucasian,Male,[80-90),10,55,1,31,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,AfricanAmerican,Female,[60-70),1,49,5,2,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,AfricanAmerican,Male,[60-70),12,75,5,13,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,AfricanAmerican,Male,[50-60),4,45,4,17,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,Caucasian,Female,[50-60),3,29,0,11,0,0,0,...,No,No,No,No,No,No,No,No,Yes,NO
18,AfricanAmerican,Male,[70-80),5,35,5,23,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,?,Male,[70-80),6,42,2,23,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 37 columns):
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
time_in_hospital            101766 non-null int64
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
number_diagnoses            101766 non-null int64
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(8), object(29)
memory usage: 28.7+ MB

In [7]:
df.describe(include='all')

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766,101766,101766,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,6,3,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
freq,76099,54708,26068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864
mean,NaN,NaN,NaN,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def value_counter(dataset):
    for index in df.columns:
        print("---- Index: " + index + "----")
        print(df[index].value_counts(normalize=True, sort=True))
value_counter(df)

---- Index: race----
Caucasian          0.747784
AfricanAmerican    0.188766
?                  0.022336
Hispanic           0.020017
Other              0.014799
Asian              0.006299
Name: race, dtype: float64
---- Index: gender----
Female             0.537586
Male               0.462384
Unknown/Invalid    0.000029
Name: gender, dtype: float64
---- Index: age----
[70-80)     0.256156
[60-70)     0.220928
[50-60)     0.169565
[80-90)     0.168986
[40-50)     0.095169
[30-40)     0.037095
[90-100)    0.027445
[20-30)     0.016282
[10-20)     0.006790
[0-10)      0.001582
Name: age, dtype: float64
---- Index: time_in_hospital----
3     0.174479
2     0.169251
1     0.139614
4     0.136824
5     0.097931
6     0.074082
7     0.057573
8     0.043148
9     0.029499
10    0.023014
11    0.018228
12    0.014229
13    0.011890
14    0.010239
Name: time_in_hospital, dtype: float64
---- Index: num_lab_procedures----
1      0.031523
43     0.027553
44     0.024527
45     0.023348
38     0.021746
40     0.021628
46     0.021510
41     0.020803
42     0.020763
47     0.020695
39     0.020645
37     0.020429
49     0.020301
48     0.020223
36     0.019280
51     0.018916
50     0.018906
35     0.018739
54     0.018552
56     0.018071
52     0.018061
55     0.018041
53     0.017707
57     0.017167
58     0.016784
34     0.016479
61     0.016096
59     0.015958
60     0.015821
63     0.014248
         ...
89     0.000717
90     0.000639
91     0.000599
93     0.000550
92     0.000472
95     0.000452
94     0.000442
97     0.000305
96     0.000275
98     0.000255
101    0.000128
100    0.000128
99     0.000088
102    0.000079
103    0.000059
105    0.000059
106    0.000049
109    0.000039
108    0.000039
111    0.000029
113    0.000029
104    0.000029
114    0.000020
126    0.000010
132    0.000010
107    0.000010
118    0.000010
129    0.000010
120    0.000010
121    0.000010
Name: num_lab_procedures, Length: 118, dtype: float64
---- Index: num_procedures----
0    0.458424
1    0.203821
2    0.124963
3    0.092791
6    0.048680
4    0.041075
5    0.030246
Name: num_procedures, dtype: float64
---- Index: num_medications----
13    0.059804
12    0.058998
11    0.056944
15    0.056915
14    0.056080
16    0.053358
10    0.052532
17    0.048336
9     0.048277
18    0.044445
8     0.042775
19    0.040072
20    0.036269
7     0.034235
21    0.031739
22    0.028182
6     0.026522
23    0.023839
24    0.020724
5     0.019820
25    0.018552
26    0.015801
27    0.014071
4     0.013924
28    0.012116
29    0.009826
3     0.008844
30    0.008343
31    0.006996
32    0.006122
        ...
45    0.000865
47    0.000727
49    0.000599
48    0.000590
50    0.000540
52    0.000531
51    0.000423
53    0.000393
56    0.000364
54    0.000324
55    0.000314
57    0.000255
58    0.000246
60    0.000226
59    0.000197
62    0.000147
63    0.000138
61    0.000138
65    0.000118
64    0.000079
68    0.000069
67    0.000069
69    0.000049
66    0.000049
72    0.000029
70    0.000020
75    0.000020
74    0.000010
79    0.000010
81    0.000010
Name: num_medications, Length: 75, dtype: float64
---- Index: number_outpatient----
0     0.835515
1     0.083987
2     0.035316
3     0.020066
4     0.010799
5     0.005238
6     0.002977
7     0.001523
8     0.000963
9     0.000816
10    0.000560
11    0.000413
13    0.000305
12    0.000295
14    0.000275
15    0.000197
16    0.000147
17    0.000079
21    0.000069
20    0.000069
22    0.000049
18    0.000049
19    0.000029
24    0.000029
27    0.000029
23    0.000020
25    0.000020
26    0.000020
29    0.000020
33    0.000020
35    0.000020
36    0.000020
40    0.000010
28    0.000010
34    0.000010
37    0.000010
38    0.000010
39    0.000010
42    0.000010
Name: number_outpatient, dtype: float64
---- Index: number_emergency----
0     0.888145
1     0.075438
2     0.020066
3     0.007124
4     0.003675
5     0.001887
6     0.000924
7     0.000717
8     0.000491
10    0.000334
9     0.000324
11    0.000226
13    0.000118
12    0.000098
22    0.000059
18    0.000049
16    0.000049
19    0.000039
20    0.000039
14    0.000029
15    0.000029
21    0.000020
25    0.000020
76    0.000010
54    0.000010
24    0.000010
28    0.000010
29    0.000010
37    0.000010
42    0.000010
46    0.000010
64    0.000010
63    0.000010
Name: number_emergency, dtype: float64
---- Index: number_inpatient----
0     0.664564
1     0.191822
2     0.074347
3     0.033518
4     0.015939
5     0.007979
6     0.004717
7     0.002633
8     0.001484
9     0.001091
10    0.000599
11    0.000481
12    0.000334
13    0.000197
14    0.000098
15    0.000088
16    0.000059
19    0.000020
17    0.000010
18    0.000010
21    0.000010
Name: number_inpatient, dtype: float64
---- Index: number_diagnoses----
9     0.486155
5     0.111953
8     0.104318
7     0.102126
6     0.099847
4     0.054409
3     0.027858
2     0.010052
1     0.002152
16    0.000442
10    0.000167
13    0.000157
11    0.000108
15    0.000098
12    0.000088
14    0.000069
Name: number_diagnoses, dtype: float64
---- Index: metformin----
No        0.803589
Steady    0.180276
Up        0.010485
Down      0.005650
Name: metformin, dtype: float64
---- Index: repaglinide----
No        0.984877
Steady    0.013600
Up        0.001081
Down      0.000442
Name: repaglinide, dtype: float64
---- Index: nateglinide----
No        0.993092
Steady    0.006564
Up        0.000236
Down      0.000108
Name: nateglinide, dtype: float64
---- Index: chlorpropamide----
No        0.999155
Steady    0.000776
Up        0.000059
Down      0.000010
Name: chlorpropamide, dtype: float64
---- Index: glimepiride----
No        0.948991
Steady    0.045890
Up        0.003213
Down      0.001906
Name: glimepiride, dtype: float64
---- Index: acetohexamide----
No        0.99999
Steady    0.00001
Name: acetohexamide, dtype: float64
---- Index: glipizide----
No        0.875341
Steady    0.111589
Up        0.007566
Down      0.005503
Name: glipizide, dtype: float64
---- Index: glyburide----
No        0.895348
Steady    0.091131
Up        0.007979
Down      0.005542
Name: glyburide, dtype: float64
---- Index: tolbutamide----
No        0.999774
Steady    0.000226
Name: tolbutamide, dtype: float64
---- Index: pioglitazone----
No        0.927992
Steady    0.068549
Up        0.002299
Down      0.001160
Name: pioglitazone, dtype: float64
---- Index: rosiglitazone----
No        0.937455
Steady    0.059941
Up        0.001749
Down      0.000855
Name: rosiglitazone, dtype: float64
---- Index: acarbose----
No        0.996973
Steady    0.002899
Up        0.000098
Down      0.000029
Name: acarbose, dtype: float64
---- Index: miglitol----
No        0.999627
Steady    0.000305
Down      0.000049
Up        0.000020
Name: miglitol, dtype: float64
---- Index: troglitazone----
No        0.999971
Steady    0.000029
Name: troglitazone, dtype: float64
---- Index: tolazamide----
No        0.999617
Steady    0.000373
Up        0.000010
Name: tolazamide, dtype: float64
---- Index: examide----
No    1.0
Name: examide, dtype: float64
---- Index: citoglipton----
No    1.0
Name: citoglipton, dtype: float64
---- Index: insulin----
No        0.465607
Steady    0.303137
Down      0.120060
Up        0.111196
Name: insulin, dtype: float64
---- Index: glyburide-metformin----
No        0.993063
Steady    0.006800
Up        0.000079
Down      0.000059
Name: glyburide-metformin, dtype: float64
---- Index: glipizide-metformin----
No        0.999872
Steady    0.000128
Name: glipizide-metformin, dtype: float64
---- Index: glimepiride-pioglitazone----
No        0.99999
Steady    0.00001
Name: glimepiride-pioglitazone, dtype: float64
---- Index: metformin-rosiglitazone----
No        0.99998
Steady    0.00002
Name: metformin-rosiglitazone, dtype: float64
---- Index: metformin-pioglitazone----
No        0.99999
Steady    0.00001
Name: metformin-pioglitazone, dtype: float64
---- Index: change----
No    0.538048
Ch    0.461952
Name: change, dtype: float64
---- Index: diabetesMed----
Yes    0.770031
No     0.229969
Name: diabetesMed, dtype: float64
---- Index: readmitted----
NO     0.539119
>30    0.349282
<30    0.111599
Name: readmitted, dtype: float64

Some columns have a lot of unique numeric values which could be put in ranges. Let's display them to make each category more readable.  These columns are: 'num_lab_procedures', 'num_medications',

In [9]:
cols_to_range = ['num_lab_procedures', 'num_medications']
for col in cols_to_range:
    unique_val_col = df[col].unique().shape
    print("Column: '" + col + "'. Number of unique values: " + str(unique_val_col) + ".")
    print(df[col].value_counts(bins=10, sort=True))
    print("-------")

Column: 'num_lab_procedures'. Number of unique values: (118,).
(40.3, 53.4]      27814
(27.2, 40.3]      21826
(53.4, 66.5]      20558
(0.868, 14.1]     10318
(14.1, 27.2]      10141
(66.5, 79.6]       8876
(79.6, 92.7]       1915
(92.7, 105.8]       290
(105.8, 118.9]       23
(118.9, 132.0]        5
Name: num_lab_procedures, dtype: int64
-------
Column: 'num_medications'. Number of unique values: (75,).
(9.0, 17.0]     45079
(17.0, 25.0]    24813
(0.919, 9.0]    20515
(25.0, 33.0]     7961
(33.0, 41.0]     2183
(41.0, 49.0]      730
(49.0, 57.0]      320
(57.0, 65.0]      131
(65.0, 73.0]       29
(73.0, 81.0]        5
Name: num_medications, dtype: int64
-------

## Data Modification

### Removing missing/unclear and null values.

In [10]:
df = df[df['gender']!='Unknown/Invalid']
df = df[df['race']!='?']

### Renaming columns

In [11]:
df.columns

Index(['race', 'gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'number_diagnoses', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

The goal is to:
    - Clarify what the column in the data is;
    - Conform to python standards (e.g. using snakecase)

In [12]:
new_col_names = {
    "time_in_hospital" : "days_in_hospital",
    "admission_type_id": "admission_type",
    "discharge_disposition_id": "discharge_disposition_type",
    "num_procedures": "num_not_lab_procedures",
    "num_medications": "num_current_medications",
    "num_diagnoses": "num_existing_conditions",
    "change": "change_in_meds",
    "diabetesMed": "diabates_med_prescribed",
    "number_emergency": "num_previous_emergencies",
    "number_outpatient": "num_outpatient_appointments",
    "number_inpatient": "num_inpatient_overnight_stays"
    }
df = df.rename(columns=new_col_names)
df.columns

Index(['race', 'gender', 'age', 'days_in_hospital', 'num_lab_procedures',
       'num_not_lab_procedures', 'num_current_medications',
       'num_outpatient_appointments', 'num_previous_emergencies',
       'num_inpatient_overnight_stays', 'number_diagnoses', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change_in_meds', 'diabates_med_prescribed',
       'readmitted'],
      dtype='object')

### Renaming values for each medicine

In [13]:
list_of_meds = ['metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone']

new_values = {"Up": "dosage_increased", "Down": "dosage_decreased","Steady":"no_change_dosage", "No":"not_prescribed"}
for medicine in list_of_meds:
    df[medicine] = df[medicine].replace(new_values)

for col in list_of_meds[:3]:
    print("----" + col + "----")
    print(df[col].value_counts(sort=True))
    print("-------")

----metformin----
not_prescribed      79971
no_change_dosage    17920
dosage_increased     1039
dosage_decreased      562
Name: metformin, dtype: int64
-------
----repaglinide----
not_prescribed      97963
no_change_dosage     1375
dosage_increased      109
dosage_decreased       45
Name: repaglinide, dtype: int64
-------
----nateglinide----
not_prescribed      98796
no_change_dosage      662
dosage_increased       23
dosage_decreased       11
Name: nateglinide, dtype: int64
-------

In [14]:
df.describe(include='all')

,race,gender,age,days_in_hospital,num_lab_procedures,num_not_lab_procedures,num_current_medications,num_outpatient_appointments,num_previous_emergencies,num_inpatient_overnight_stays,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change_in_meds,diabates_med_prescribed,readmitted
count,99492,99492,99492,99492.000000,99492.000000,99492.000000,99492.000000,99492.000000,99492.000000,99492.000000,...,99492,99492,99492,99492,99492,99492,99492,99492,99492,99492
unique,5,2,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,4,4,2,2,1,2,2,2,3
top,Caucasian,Female,[70-80),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,not_prescribed,not_prescribed,not_prescribed,not_prescribed,not_prescribed,not_prescribed,not_prescribed,No,Yes,NO
freq,76099,53575,25468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99492,46495,98812,99479,99491,99492,99491,53582,76491,53316
mean,NaN,NaN,NaN,4.398454,43.072971,1.340540,16.026545,0.373357,0.201343,0.643107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,2.986972,19.695587,1.703686,8.119809,1.276805,0.939981,1.271370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning and Transformation conclusion
At first glance, we can notice that the majority of people being re-admitted are:
- Caucasian
- Female
- Aged 70-80
- takes between 9 and 17 medications
# TO BE FINISHED

In [15]:
df.to_csv("cleaned_data_bn.csv")